# Data

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_csv('merged_data.csv')
nhgis = pd.read_csv('./data/df_melt.csv')
df.head()

,year,county_name,county_fips,candidate,party,candidatevotes,totalvotes,population_2022,district,N1,...,N3,N4,N5,N6,N7,N8,N9,N10,N11,N12
0,2000,ACCOMACK,51001,AL GORE,DEMOCRAT,5092,11925,33191,2,NORTHUMBERLAND,...,MIDDLESEX,MATHEWS,NORTHAMPTON,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2000,ACCOMACK,51001,GEORGE W. BUSH,REPUBLICAN,6352,11925,33191,2,NORTHUMBERLAND,...,MIDDLESEX,MATHEWS,NORTHAMPTON,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2000,ACCOMACK,51001,RALPH NADER,GREEN,220,11925,33191,2,NORTHUMBERLAND,...,MIDDLESEX,MATHEWS,NORTHAMPTON,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2000,ACCOMACK,51001,OTHER,OTHER,261,11925,33191,2,NORTHUMBERLAND,...,MIDDLESEX,MATHEWS,NORTHAMPTON,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2004,ACCOMACK,51001,JOHN KERRY,DEMOCRAT,5518,13356,33191,2,NORTHUMBERLAND,...,MIDDLESEX,MATHEWS,NORTHAMPTON,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
nhgis.head()

,YEAR,FIPS,AV0AA,B78AA,AV1AA,AV1AB,AT5AA,AT5AB,AL8AA,AL8AB,...,A88AD,A88AE,AB2AA,BD5AA,AX6AA,CL6AA,AX7AA,AX7AB,BV8AA,BV8AB
0,2000,51001,38305.0,38305.0,18590.0,19715.0,36680.0,1625.0,22535.0,13983.0,...,3781.0,3195.0,34821.0,16309.0,37715.0,6788.0,6788.0,30927.0,957.0,5291.0
1,125,51001,33454.0,33454.0,16230.0,17224.0,31192.0,2262.0,18212.0,12696.0,...,2649.0,4604.0,50250.0,22909.0,33012.0,6678.0,6678.0,26334.0,1002.0,5147.0
2,195,51001,32673.0,32673.0,15934.0,16739.0,30148.0,2525.0,18418.0,11366.0,...,2395.0,5072.0,57711.0,26018.0,32325.0,6141.0,6141.0,26184.0,677.0,6603.0
3,2000,51003,79236.0,79236.0,38002.0,41234.0,73483.0,5753.0,39195.0,33535.0,...,5153.0,13401.0,63407.0,28852.0,77661.0,5232.0,5232.0,72429.0,430.0,8756.0
4,125,51003,99484.0,99484.0,47564.0,51920.0,89589.0,9895.0,46267.0,41638.0,...,3715.0,18225.0,89768.0,37837.0,93607.0,8321.0,8321.0,85286.0,643.0,13285.0

In [3]:
# in nhgis, rename all values with year as '125' to 2008'
nhgis['YEAR'] = nhgis['YEAR'].replace(125, 2008)
# in nhgis, rename all values with year as '195' to 2016'
nhgis['YEAR'] = nhgis['YEAR'].replace(195, 2016)
print(nhgis.shape)

(411, 162)

In [4]:
# for each row, if 'YEAR' is 2000, duplicate the row and change 'YEAR' to 2004. if 'YEAR' is 2008, duplicate the row and change 'YEAR' to 20012. if 'YEAR' is 2016, duplicate the row and change 'YEAR' to 2020.
df_2004 = nhgis[nhgis['YEAR'] == 2000].copy()
df_2004['YEAR'] = 2004

df_2012 = nhgis[nhgis['YEAR'] == 2008].copy()
df_2012['YEAR'] = 2012

df_2020 = nhgis[nhgis['YEAR'] == 2016].copy()
df_2020['YEAR'] = 2020

# Use pd.concat to append the new DataFrames to the original DataFrame
nhgis = pd.concat([nhgis, df_2004, df_2012, df_2020], ignore_index=True)
del df_2004, df_2012, df_2020
print(nhgis.shape)

(822, 162)

In [5]:
nhgis.head(20)

,YEAR,FIPS,AV0AA,B78AA,AV1AA,AV1AB,AT5AA,AT5AB,AL8AA,AL8AB,...,A88AD,A88AE,AB2AA,BD5AA,AX6AA,CL6AA,AX7AA,AX7AB,BV8AA,BV8AB
0,2000,51001,38305.0,38305.0,18590.0,19715.0,36680.0,1625.0,22535.0,13983.0,...,3781.0,3195.0,34821.0,16309.0,37715.0,6788.0,6788.0,30927.0,957.0,5291.0
1,2008,51001,33454.0,33454.0,16230.0,17224.0,31192.0,2262.0,18212.0,12696.0,...,2649.0,4604.0,50250.0,22909.0,33012.0,6678.0,6678.0,26334.0,1002.0,5147.0
2,2016,51001,32673.0,32673.0,15934.0,16739.0,30148.0,2525.0,18418.0,11366.0,...,2395.0,5072.0,57711.0,26018.0,32325.0,6141.0,6141.0,26184.0,677.0,6603.0
3,2000,51003,79236.0,79236.0,38002.0,41234.0,73483.0,5753.0,39195.0,33535.0,...,5153.0,13401.0,63407.0,28852.0,77661.0,5232.0,5232.0,72429.0,430.0,8756.0
4,2008,51003,99484.0,99484.0,47564.0,51920.0,89589.0,9895.0,46267.0,41638.0,...,3715.0,18225.0,89768.0,37837.0,93607.0,8321.0,8321.0,85286.0,643.0,13285.0
5,2016,51003,107405.0,107405.0,51363.0,56042.0,96238.0,11167.0,49663.0,44728.0,...,3419.0,20884.0,103077.0,44799.0,100293.0,9142.0,9142.0,91151.0,881.0,18026.0
6,2000,51510,128283.0,128283.0,61974.0,66309.0,95683.0,32600.0,27840.0,65288.0,...,6275.0,17685.0,67023.0,37645.0,126409.0,11279.0,11279.0,115130.0,939.0,9547.0
7,2008,51510,140337.0,140337.0,67565.0,72772.0,105123.0,35214.0,31614.0,70093.0,...,4415.0,23275.0,105721.0,54767.0,138832.0,11102.0,11102.0,127730.0,948.0,11587.0
8,2016,51510,157613.0,157613.0,75954.0,81659.0,114677.0,42936.0,33586.0,75911.0,...,3947.0,27731.0,130395.0,62679.0,156261.0,16108.0,16108.0,140153.0,1182.0,16164.0
9,2000,51005,12926.0,12926.0,6450.0,6476.0,12814.0,112.0,10074.0,2690.0,...,1265.0,1789.0,45843.0,19635.0,12682.0,905.0,905.0,11777.0,212.0,1758.0
10,2008,51005,16297.0,16297.0,7956.0,8341.0,15985.0,312.0,12414.0,3516.0,...,1242.0,2803.0,56250.0,23680.0,15980.0,1671.0,1671.0,14309.0,225.0,2974.0
11,2016,51005,15157.0,15157.0,7367.0,7790.0,14967.0,190.0,11602.0,3326.0,...,903.0,2524.0,58933.0,27338.0,14830.0,2925.0,2925.0,11905.0,307.0,3119.0
12,2000,51007,11400.0,11400.0,5622.0,5778.0,11320.0,80.0,9214.0,2067.0,...,1081.0,1466.0,47157.0,18858.0,11267.0,948.0,948.0,10319.0,167.0,1256.0
13,2008,51007,12674.0,12674.0,6272.0,6402.0,12407.0,267.0,8770.0,3561.0,...,982.0,2045.0,58065.0,24548.0,12579.0,1272.0,1272.0,11307.0,87.0,1907.0
14,2016,51007,12953.0,12953.0,6580.0,6373.0,12804.0,149.0,10247.0,2485.0,...,752.0,2406.0,81848.0,31688.0,12861.0,1375.0,1375.0,11486.0,297.0,2110.0
15,2000,51009,31894.0,31894.0,15208.0,16686.0,31506.0,388.0,25479.0,5859.0,...,3202.0,3496.0,42876.0,16952.0,30277.0,3238.0,3238.0,27039.0,494.0,3762.0
16,2008,51009,32301.0,32301.0,15406.0,16895.0,31712.0,589.0,24339.0,7249.0,...,2343.0,4859.0,56237.0,22169.0,31151.0,3637.0,3637.0,27514.0,529.0,4878.0
17,2016,51009,31775.0,31775.0,15290.0,16485.0,31205.0,570.0,24084.0,6817.0,...,2002.0,5522.0,70552.0,26712.0,30994.0,4327.0,4327.0,26667.0,590.0,5855.0
18,2000,51011,13705.0,13705.0,6671.0,7034.0,13517.0,188.0,10994.0,2480.0,...,1443.0,1555.0,41563.0,18086.0,13578.0,1547.0,1547.0,12031.0,431.0,1576.0
19,2008,51011,14952.0,14952.0,7374.0,7578.0,14840.0,112.0,11379.0,3401.0,...,874.0,2632.0,59186.0,23021.0,14768.0,2425.0,2425.0,12343.0,356.0,2210.0

In [6]:
# rename 'YEAR' column to 'year' in nhgis and 'FIPS' column to 'county_fips' in nhgis
nhgis = nhgis.rename(columns={'YEAR': 'year', 'FIPS': 'county_fips'})

# go through rows of df and join by 'year' and 'county_fips' with nhgis.
df = df.merge(nhgis, on=['year', 'county_fips'], how='left')
print(df.shape)

df.head(20)

(2544, 181)

,year,county_name,county_fips,candidate,party,candidatevotes,totalvotes,population_2022,district,N1,...,A88AD,A88AE,AB2AA,BD5AA,AX6AA,CL6AA,AX7AA,AX7AB,BV8AA,BV8AB
0,2000,ACCOMACK,51001,AL GORE,DEMOCRAT,5092,11925,33191,2,NORTHUMBERLAND,...,3781.0,3195.0,34821.0,16309.0,37715.0,6788.0,6788.0,30927.0,957.0,5291.0
1,2000,ACCOMACK,51001,GEORGE W. BUSH,REPUBLICAN,6352,11925,33191,2,NORTHUMBERLAND,...,3781.0,3195.0,34821.0,16309.0,37715.0,6788.0,6788.0,30927.0,957.0,5291.0
2,2000,ACCOMACK,51001,RALPH NADER,GREEN,220,11925,33191,2,NORTHUMBERLAND,...,3781.0,3195.0,34821.0,16309.0,37715.0,6788.0,6788.0,30927.0,957.0,5291.0
3,2000,ACCOMACK,51001,OTHER,OTHER,261,11925,33191,2,NORTHUMBERLAND,...,3781.0,3195.0,34821.0,16309.0,37715.0,6788.0,6788.0,30927.0,957.0,5291.0
4,2004,ACCOMACK,51001,JOHN KERRY,DEMOCRAT,5518,13356,33191,2,NORTHUMBERLAND,...,3781.0,3195.0,34821.0,16309.0,37715.0,6788.0,6788.0,30927.0,957.0,5291.0
5,2004,ACCOMACK,51001,GEORGE W. BUSH,REPUBLICAN,7726,13356,33191,2,NORTHUMBERLAND,...,3781.0,3195.0,34821.0,16309.0,37715.0,6788.0,6788.0,30927.0,957.0,5291.0
6,2004,ACCOMACK,51001,OTHER,OTHER,112,13356,33191,2,NORTHUMBERLAND,...,3781.0,3195.0,34821.0,16309.0,37715.0,6788.0,6788.0,30927.0,957.0,5291.0
7,2008,ACCOMACK,51001,BARACK OBAMA,DEMOCRAT,7607,15623,33191,2,NORTHUMBERLAND,...,2649.0,4604.0,50250.0,22909.0,33012.0,6678.0,6678.0,26334.0,1002.0,5147.0
8,2008,ACCOMACK,51001,JOHN MCCAIN,REPUBLICAN,7833,15623,33191,2,NORTHUMBERLAND,...,2649.0,4604.0,50250.0,22909.0,33012.0,6678.0,6678.0,26334.0,1002.0,5147.0
9,2008,ACCOMACK,51001,OTHER,OTHER,183,15623,33191,2,NORTHUMBERLAND,...,2649.0,4604.0,50250.0,22909.0,33012.0,6678.0,6678.0,26334.0,1002.0,5147.0
10,2012,ACCOMACK,51001,BARACK OBAMA,DEMOCRAT,7655,16051,33191,2,NORTHUMBERLAND,...,2649.0,4604.0,50250.0,22909.0,33012.0,6678.0,6678.0,26334.0,1002.0,5147.0
11,2012,ACCOMACK,51001,MITT ROMNEY,REPUBLICAN,8213,16051,33191,2,NORTHUMBERLAND,...,2649.0,4604.0,50250.0,22909.0,33012.0,6678.0,6678.0,26334.0,1002.0,5147.0
12,2012,ACCOMACK,51001,OTHER,OTHER,183,16051,33191,2,NORTHUMBERLAND,...,2649.0,4604.0,50250.0,22909.0,33012.0,6678.0,6678.0,26334.0,1002.0,5147.0
13,2016,ACCOMACK,51001,HILLARY CLINTON,DEMOCRAT,6740,15818,33191,2,NORTHUMBERLAND,...,2395.0,5072.0,57711.0,26018.0,32325.0,6141.0,6141.0,26184.0,677.0,6603.0
14,2016,ACCOMACK,51001,DONALD TRUMP,REPUBLICAN,8583,15818,33191,2,NORTHUMBERLAND,...,2395.0,5072.0,57711.0,26018.0,32325.0,6141.0,6141.0,26184.0,677.0,6603.0
15,2016,ACCOMACK,51001,OTHER,OTHER,495,15818,33191,2,NORTHUMBERLAND,...,2395.0,5072.0,57711.0,26018.0,32325.0,6141.0,6141.0,26184.0,677.0,6603.0
16,2020,ACCOMACK,51001,DONALD TRUMP,REPUBLICAN,9172,16962,33191,2,NORTHUMBERLAND,...,2395.0,5072.0,57711.0,26018.0,32325.0,6141.0,6141.0,26184.0,677.0,6603.0
17,2020,ACCOMACK,51001,JO JORGENSEN,LIBERTARIAN,188,16962,33191,2,NORTHUMBERLAND,...,2395.0,5072.0,57711.0,26018.0,32325.0,6141.0,6141.0,26184.0,677.0,6603.0
18,2020,ACCOMACK,51001,JOSEPH R BIDEN JR,DEMOCRAT,7578,16962,33191,2,NORTHUMBERLAND,...,2395.0,5072.0,57711.0,26018.0,32325.0,6141.0,6141.0,26184.0,677.0,6603.0
19,2020,ACCOMACK,51001,OTHER,OTHER,24,16962,33191,2,NORTHUMBERLAND,...,2395.0,5072.0,57711.0,26018.0,32325.0,6141.0,6141.0,26184.0,677.0,6603.0

In [7]:
# drop column 'population_2022' in df
df = df.drop(columns=['population_2022'])
df.loc[: ,['AV0AA', 'year']].head(20)

      AV0AA  year
0   38305.0  2000
1   38305.0  2000
2   38305.0  2000
3   38305.0  2000
4   38305.0  2004
5   38305.0  2004
6   38305.0  2004
7   33454.0  2008
8   33454.0  2008
9   33454.0  2008
10  33454.0  2012
11  33454.0  2012
12  33454.0  2012
13  32673.0  2016
14  32673.0  2016
15  32673.0  2016
16  32673.0  2020
17  32673.0  2020
18  32673.0  2020
19  32673.0  2020

In [8]:
df.to_csv('properly_merged_data.csv', index=False)

# Analysis

In [9]:
# split df into testing and training, where testing is all rows with year between 2000 and 2016 (inclusive), and training is all rows with year as 2020
train_data = df[(df['year'] >= 2000) & (df['year'] <= 2016)]
test_data = df[df['year'] == 2020]

print(train_data.shape)
print(test_data.shape)

(2016, 180)
(528, 180)

In [10]:
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.ensemble import RandomForestRegressor
from keras.models import Sequential
from keras.layers import Dense
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

vars = ['year', 'county_name', 'party', 'totalvotes', "AV0AA", "B69AA", "B69AB", "B69AC", "A88AA","A88AB","A88AC","A88AD","A88AE"]

### Random Forests

In [11]:
X_train = train_data.loc[:, vars]
Y_train = train_data.loc[:, 'candidatevotes']
X_test = test_data.loc[:, vars]
Y_test = test_data.loc[:, 'candidatevotes']

# Encode categorical data
X_train = pd.get_dummies(X_train, columns=['county_name', 'party'])
X_test = pd.get_dummies(X_test, columns=['county_name', 'party'])

# Ensuring the same columns in train and test sets
X_train, X_test = X_train.align(X_test, join='left', axis=1, fill_value=0)

# Reinitialize and train the RandomForestRegressor
rf = RandomForestRegressor(n_estimators=100, random_state=42)
rf.fit(X_train, Y_train)

# Predict on the test set and calculate RMSE
Y_pred = rf.predict(X_test)

# Calculate the root mean squared error
mse = mean_squared_error(Y_test, Y_pred)
rmse = np.sqrt(mse)  # RMSE is just the square root of MSE
mae = mean_absolute_error(Y_test, Y_pred)
r_squared = r2_score(Y_test, Y_pred)

def mean_absolute_percentage_error(y_true, y_pred):
    """
    Calculate mean absolute percentage error (MAPE) avoiding divisions by zero
    and handle cases where actual values are zero by excluding them from the calculation.
    """
    y_true, y_pred = np.array(y_true), np.array(y_pred)
    # Create a mask for elements where the denominator isn't zero
    mask = y_true != 0
    if np.any(mask):  # Check if there are any non-zero elements to avoid empty slice
        mape = np.abs((y_true[mask] - y_pred[mask]) / y_true[mask]) * 100
        return np.mean(mape)
    else:
        return np.nan  # Return NaN if all y_true values are zero or if no valid values are found
    

mape = mean_absolute_percentage_error(Y_test, Y_pred)

print(f'Mean Squared Error: {mse}')
print(f'Root Mean Squared Error: {rmse}')
print(f'Mean Absolute Error: {mae}')
print(f'Mean Absolute Percentage Error: {mape:.2f}%')
print(f'R-squared: {r_squared}')

Mean Squared Error: 143594647.7163835
Root Mean Squared Error: 11983.098418872452
Mean Absolute Error: 4787.315397727273
Mean Absolute Percentage Error: 1332.42%
R-squared: 0.5451191430748419

### Neural Network

In [12]:
X_train = train_data.loc[:, vars]
Y_train = train_data.loc[:, 'candidatevotes']
X_test = test_data.loc[:, vars]
Y_test = test_data.loc[:, 'candidatevotes']

# Preprocessing
categorical_features = ['party', 'county_name']
numeric_features = ['year', 'totalvotes', "AV0AA", "B69AA", "B69AB", "B69AC", "A88AA","A88AB","A88AC","A88AD","A88AE"]

# Create a transformer for numerical attributes
numeric_transformer = Pipeline(steps=[
    ('scaler', StandardScaler())
])

# Create a transformer for categorical attributes
categorical_transformer = Pipeline(steps=[
    ('onehot', OneHotEncoder(handle_unknown='ignore', sparse_output=False))
])

# Combine transformers into a preprocessor step
preprocessor = ColumnTransformer(
    transformers=[
        ('num', numeric_transformer, numeric_features),
        ('cat', categorical_transformer, categorical_features)
    ])

# Fit the preprocessor on the training data
preprocessor.fit(X_train)
X_train_transformed = preprocessor.transform(X_train)
X_test_transformed = preprocessor.transform(X_test)

# Model creation
model = Sequential([
    Dense(128, activation='relu', input_shape=(X_train_transformed.shape[1],)),
    Dense(112, activation='relu'),
    Dense(96, activation='relu'),
    Dense(80, activation='relu'),
    Dense(64, activation='relu'),
    Dense(48, activation='relu'),
    Dense(32, activation='relu'),
    Dense(16, activation='relu'),
    Dense(1, activation='linear')
])

model.compile(optimizer='adam', loss='mean_squared_error')

# Fit the model
model.fit(X_train_transformed, Y_train, epochs=10, batch_size=10)

# Predict using the model
Y_pred = model.predict(X_test_transformed)

Epoch 1/10

2024-05-07 18:42:40.356304: W tensorflow/tsl/platform/profile_utils/cpu_utils.cc:128] Failed to get CPU frequency: 0 Hz

202/202 [==============================] - 0s 929us/step - loss: 142571840.0000
Epoch 2/10
202/202 [==============================] - 0s 998us/step - loss: 65871152.0000
Epoch 3/10
202/202 [==============================] - 0s 1000us/step - loss: 45787092.0000
Epoch 4/10
202/202 [==============================] - 0s 1ms/step - loss: 32210770.0000
Epoch 5/10
202/202 [==============================] - 0s 1ms/step - loss: 21226186.0000
Epoch 6/10
202/202 [==============================] - 0s 1ms/step - loss: 18668134.0000
Epoch 7/10
202/202 [==============================] - 0s 1ms/step - loss: 15674030.0000
Epoch 8/10
202/202 [==============================] - 0s 1ms/step - loss: 15037605.0000
Epoch 9/10
202/202 [==============================] - 0s 1ms/step - loss: 14320358.0000
Epoch 10/10
202/202 [==============================] - 0s 1ms/step - loss: 12224958.0000
17/17 [==============================] - 0s 501us/step

In [13]:
# Evaluate the model
mse = mean_squared_error(Y_test, Y_pred)
rmse = np.sqrt(mse)  # RMSE is just the square root of MSE
mae = mean_absolute_error(Y_test, Y_pred)
mape = mean_absolute_percentage_error(Y_test, Y_pred)
r_squared = r2_score(Y_test, Y_pred)

print(f'Mean Squared Error: {mse}')
print(f'Root Mean Squared Error: {rmse}')
print(f'Mean Absolute Error: {mae}')
print(f'Mean Absolute Percentage Error: {mape:.2f}%')
print(f'R-squared: {r_squared}')

Mean Squared Error: 68554725.08465718
Root Mean Squared Error: 8279.7780818484
Mean Absolute Error: 2888.6349812998915
Mean Absolute Percentage Error: 12165.52%
R-squared: 0.7828315150410755

Let's focus in on income data, specifically the variables A88AA-A88AE

In [14]:
# Focus on relevant columns: income brackets, candidate votes, party, and year
election_income_df = pd.read_csv("properly_merged_data.csv")
income_columns = ['year', 'county_name', 'party', 'candidatevotes', 'A88AA', 'A88AB', 'A88AC', 'A88AD', 'A88AE']
election_income_df = election_income_df[income_columns]

In [15]:
election_income_df['total_population'] = election_income_df[['A88AA', 'A88AB', 'A88AC', 'A88AD', 'A88AE']].sum(axis=1)

# Calculate the proportion of each income bracket
for column in ['A88AA', 'A88AB', 'A88AC', 'A88AD', 'A88AE']:
    election_income_df[column + '_prop'] = election_income_df[column] / election_income_df['total_population']

# Apply the proportions to the candidatevotes to estimate votes per income bracket
for column in ['A88AA', 'A88AB', 'A88AC', 'A88AD', 'A88AE']:
    election_income_df[column + '_votes'] = election_income_df[column + '_prop'] * election_income_df['candidatevotes']

# Now group by year and party and sum the estimated votes for each income bracket
aggregated_data = election_income_df.groupby(['year', 'party']).agg({
    'candidatevotes': 'sum',
    'A88AA_votes': 'sum',
    'A88AB_votes': 'sum',
    'A88AC_votes': 'sum',
    'A88AD_votes': 'sum',
    'A88AE_votes': 'sum'
}).reset_index()

pd.set_option('display.float_format', lambda x: '%.2f' % x)

aggregated_data

,year,party,candidatevotes,A88AA_votes,A88AB_votes,A88AC_votes,A88AD_votes,A88AE_votes
0,2000,DEMOCRAT,951375,45779.56,36021.81,96500.63,277026.41,496046.60
1,2000,GREEN,43915,1855.50,1481.25,4064.90,12164.46,24348.89
2,2000,OTHER,21309,1059.07,875.65,2310.07,6457.92,10606.29
3,2000,REPUBLICAN,1190770,50922.74,42192.02,117022.13,349425.43,631207.68
4,2004,DEMOCRAT,1129032,52472.01,41178.60,110850.62,322670.89,601859.89
5,2004,OTHER,21748,1007.19,829.46,2257.94,6472.62,11180.78
6,2004,REPUBLICAN,1456202,61165.21,50744.80,141382.62,425091.70,777817.67
7,2008,DEMOCRAT,1537789,54460.42,37820.51,98917.28,302044.10,1044546.69
8,2008,OTHER,32338,1161.05,826.43,2224.23,6708.24,21418.06
9,2008,REPUBLICAN,1479795,50155.50,35994.99,96330.24,300864.11,996450.16
10,2012,DEMOCRAT,1543476,53921.53,37230.94,97379.25,299147.46,1055796.82
11,2012,OTHER,49958,1740.46,1232.02,3315.05,10146.74,33523.73
12,2012,REPUBLICAN,1570915,52790.00,38078.64,101612.88,317563.89,1060869.58
13,2016,DEMOCRAT,1511667,44360.82,25398.26,70110.89,237588.73,1134208.30
14,2016,OTHER,185424,5033.78,2961.07,8154.32,28775.25,140499.57
15,2016,REPUBLICAN,1572721,46878.43,28295.04,78695.05,272837.17,1146015.32
16,2020,DEMOCRAT,1993625,62622.08,35581.03,94734.65,316006.56,1484680.67
17,2020,LIBERTARIAN,56747,1694.12,999.86,2668.57,9222.42,42162.04
18,2020,OTHER,16956,506.83,291.57,767.28,2601.86,12788.46
19,2020,REPUBLICAN,1794029,54808.56,33163.60,90975.60,313297.66,1301783.59