# Data

In [41]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_csv('merged_data.csv')
nhgis = pd.read_csv('./data/df_melt.csv')
df.head()

,year,county_name,county_fips,candidate,party,candidatevotes,totalvotes,population_2022,district,N1,...,N3,N4,N5,N6,N7,N8,N9,N10,N11,N12
0,2000,ACCOMACK,51001,AL GORE,DEMOCRAT,5092,11925,33191,2,NORTHUMBERLAND,...,MIDDLESEX,MATHEWS,NORTHAMPTON,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2000,ACCOMACK,51001,GEORGE W. BUSH,REPUBLICAN,6352,11925,33191,2,NORTHUMBERLAND,...,MIDDLESEX,MATHEWS,NORTHAMPTON,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2000,ACCOMACK,51001,RALPH NADER,GREEN,220,11925,33191,2,NORTHUMBERLAND,...,MIDDLESEX,MATHEWS,NORTHAMPTON,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2000,ACCOMACK,51001,OTHER,OTHER,261,11925,33191,2,NORTHUMBERLAND,...,MIDDLESEX,MATHEWS,NORTHAMPTON,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2004,ACCOMACK,51001,JOHN KERRY,DEMOCRAT,5518,13356,33191,2,NORTHUMBERLAND,...,MIDDLESEX,MATHEWS,NORTHAMPTON,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [42]:
nhgis.head()

,YEAR,FIPS,AV0AA,B78AA,AV1AA,AV1AB,AT5AA,AT5AB,AL8AA,AL8AB,...,A88AD,A88AE,AB2AA,BD5AA,AX6AA,CL6AA,AX7AA,AX7AB,BV8AA,BV8AB
0,2000,51001,38305.00,38305.00,18590.00,19715.00,36680.00,1625.00,22535.00,13983.00,...,3781.00,3195.00,34821.00,16309.00,37715.00,6788.00,6788.00,30927.00,957.00,5291.00
1,125,51001,33454.00,33454.00,16230.00,17224.00,31192.00,2262.00,18212.00,12696.00,...,2649.00,4604.00,50250.00,22909.00,33012.00,6678.00,6678.00,26334.00,1002.00,5147.00
2,195,51001,32673.00,32673.00,15934.00,16739.00,30148.00,2525.00,18418.00,11366.00,...,2395.00,5072.00,57711.00,26018.00,32325.00,6141.00,6141.00,26184.00,677.00,6603.00
3,2000,51003,79236.00,79236.00,38002.00,41234.00,73483.00,5753.00,39195.00,33535.00,...,5153.00,13401.00,63407.00,28852.00,77661.00,5232.00,5232.00,72429.00,430.00,8756.00
4,125,51003,99484.00,99484.00,47564.00,51920.00,89589.00,9895.00,46267.00,41638.00,...,3715.00,18225.00,89768.00,37837.00,93607.00,8321.00,8321.00,85286.00,643.00,13285.00

In [43]:
# in nhgis, rename all values with year as '125' to 2008'
nhgis['YEAR'] = nhgis['YEAR'].replace(125, 2008)
# in nhgis, rename all values with year as '195' to 2016'
nhgis['YEAR'] = nhgis['YEAR'].replace(195, 2016)
print(nhgis.shape)

(411, 162)

In [44]:
# for each row, if 'YEAR' is 2000, duplicate the row and change 'YEAR' to 2004. if 'YEAR' is 2008, duplicate the row and change 'YEAR' to 20012. if 'YEAR' is 2016, duplicate the row and change 'YEAR' to 2020.
df_2004 = nhgis[nhgis['YEAR'] == 2000].copy()
df_2004['YEAR'] = 2004

df_2012 = nhgis[nhgis['YEAR'] == 2008].copy()
df_2012['YEAR'] = 2012

df_2020 = nhgis[nhgis['YEAR'] == 2016].copy()
df_2020['YEAR'] = 2020

# Use pd.concat to append the new DataFrames to the original DataFrame
nhgis = pd.concat([nhgis, df_2004, df_2012, df_2020], ignore_index=True)
del df_2004, df_2012, df_2020
print(nhgis.shape)

(822, 162)

In [45]:
nhgis.head(20)

,YEAR,FIPS,AV0AA,B78AA,AV1AA,AV1AB,AT5AA,AT5AB,AL8AA,AL8AB,...,A88AD,A88AE,AB2AA,BD5AA,AX6AA,CL6AA,AX7AA,AX7AB,BV8AA,BV8AB
0,2000,51001,38305.00,38305.00,18590.00,19715.00,36680.00,1625.00,22535.00,13983.00,...,3781.00,3195.00,34821.00,16309.00,37715.00,6788.00,6788.00,30927.00,957.00,5291.00
1,2008,51001,33454.00,33454.00,16230.00,17224.00,31192.00,2262.00,18212.00,12696.00,...,2649.00,4604.00,50250.00,22909.00,33012.00,6678.00,6678.00,26334.00,1002.00,5147.00
2,2016,51001,32673.00,32673.00,15934.00,16739.00,30148.00,2525.00,18418.00,11366.00,...,2395.00,5072.00,57711.00,26018.00,32325.00,6141.00,6141.00,26184.00,677.00,6603.00
3,2000,51003,79236.00,79236.00,38002.00,41234.00,73483.00,5753.00,39195.00,33535.00,...,5153.00,13401.00,63407.00,28852.00,77661.00,5232.00,5232.00,72429.00,430.00,8756.00
4,2008,51003,99484.00,99484.00,47564.00,51920.00,89589.00,9895.00,46267.00,41638.00,...,3715.00,18225.00,89768.00,37837.00,93607.00,8321.00,8321.00,85286.00,643.00,13285.00
5,2016,51003,107405.00,107405.00,51363.00,56042.00,96238.00,11167.00,49663.00,44728.00,...,3419.00,20884.00,103077.00,44799.00,100293.00,9142.00,9142.00,91151.00,881.00,18026.00
6,2000,51510,128283.00,128283.00,61974.00,66309.00,95683.00,32600.00,27840.00,65288.00,...,6275.00,17685.00,67023.00,37645.00,126409.00,11279.00,11279.00,115130.00,939.00,9547.00
7,2008,51510,140337.00,140337.00,67565.00,72772.00,105123.00,35214.00,31614.00,70093.00,...,4415.00,23275.00,105721.00,54767.00,138832.00,11102.00,11102.00,127730.00,948.00,11587.00
8,2016,51510,157613.00,157613.00,75954.00,81659.00,114677.00,42936.00,33586.00,75911.00,...,3947.00,27731.00,130395.00,62679.00,156261.00,16108.00,16108.00,140153.00,1182.00,16164.00
9,2000,51005,12926.00,12926.00,6450.00,6476.00,12814.00,112.00,10074.00,2690.00,...,1265.00,1789.00,45843.00,19635.00,12682.00,905.00,905.00,11777.00,212.00,1758.00
10,2008,51005,16297.00,16297.00,7956.00,8341.00,15985.00,312.00,12414.00,3516.00,...,1242.00,2803.00,56250.00,23680.00,15980.00,1671.00,1671.00,14309.00,225.00,2974.00
11,2016,51005,15157.00,15157.00,7367.00,7790.00,14967.00,190.00,11602.00,3326.00,...,903.00,2524.00,58933.00,27338.00,14830.00,2925.00,2925.00,11905.00,307.00,3119.00
12,2000,51007,11400.00,11400.00,5622.00,5778.00,11320.00,80.00,9214.00,2067.00,...,1081.00,1466.00,47157.00,18858.00,11267.00,948.00,948.00,10319.00,167.00,1256.00
13,2008,51007,12674.00,12674.00,6272.00,6402.00,12407.00,267.00,8770.00,3561.00,...,982.00,2045.00,58065.00,24548.00,12579.00,1272.00,1272.00,11307.00,87.00,1907.00
14,2016,51007,12953.00,12953.00,6580.00,6373.00,12804.00,149.00,10247.00,2485.00,...,752.00,2406.00,81848.00,31688.00,12861.00,1375.00,1375.00,11486.00,297.00,2110.00
15,2000,51009,31894.00,31894.00,15208.00,16686.00,31506.00,388.00,25479.00,5859.00,...,3202.00,3496.00,42876.00,16952.00,30277.00,3238.00,3238.00,27039.00,494.00,3762.00
16,2008,51009,32301.00,32301.00,15406.00,16895.00,31712.00,589.00,24339.00,7249.00,...,2343.00,4859.00,56237.00,22169.00,31151.00,3637.00,3637.00,27514.00,529.00,4878.00
17,2016,51009,31775.00,31775.00,15290.00,16485.00,31205.00,570.00,24084.00,6817.00,...,2002.00,5522.00,70552.00,26712.00,30994.00,4327.00,4327.00,26667.00,590.00,5855.00
18,2000,51011,13705.00,13705.00,6671.00,7034.00,13517.00,188.00,10994.00,2480.00,...,1443.00,1555.00,41563.00,18086.00,13578.00,1547.00,1547.00,12031.00,431.00,1576.00
19,2008,51011,14952.00,14952.00,7374.00,7578.00,14840.00,112.00,11379.00,3401.00,...,874.00,2632.00,59186.00,23021.00,14768.00,2425.00,2425.00,12343.00,356.00,2210.00

In [46]:
# rename 'YEAR' column to 'year' in nhgis and 'FIPS' column to 'county_fips' in nhgis
nhgis = nhgis.rename(columns={'YEAR': 'year', 'FIPS': 'county_fips'})

# go through rows of df and join by 'year' and 'county_fips' with nhgis.
df = df.merge(nhgis, on=['year', 'county_fips'], how='left')
print(df.shape)

df.head(20)

(2544, 181)

,year,county_name,county_fips,candidate,party,candidatevotes,totalvotes,population_2022,district,N1,...,A88AD,A88AE,AB2AA,BD5AA,AX6AA,CL6AA,AX7AA,AX7AB,BV8AA,BV8AB
0,2000,ACCOMACK,51001,AL GORE,DEMOCRAT,5092,11925,33191,2,NORTHUMBERLAND,...,3781.00,3195.00,34821.00,16309.00,37715.00,6788.00,6788.00,30927.00,957.00,5291.00
1,2000,ACCOMACK,51001,GEORGE W. BUSH,REPUBLICAN,6352,11925,33191,2,NORTHUMBERLAND,...,3781.00,3195.00,34821.00,16309.00,37715.00,6788.00,6788.00,30927.00,957.00,5291.00
2,2000,ACCOMACK,51001,RALPH NADER,GREEN,220,11925,33191,2,NORTHUMBERLAND,...,3781.00,3195.00,34821.00,16309.00,37715.00,6788.00,6788.00,30927.00,957.00,5291.00
3,2000,ACCOMACK,51001,OTHER,OTHER,261,11925,33191,2,NORTHUMBERLAND,...,3781.00,3195.00,34821.00,16309.00,37715.00,6788.00,6788.00,30927.00,957.00,5291.00
4,2004,ACCOMACK,51001,JOHN KERRY,DEMOCRAT,5518,13356,33191,2,NORTHUMBERLAND,...,3781.00,3195.00,34821.00,16309.00,37715.00,6788.00,6788.00,30927.00,957.00,5291.00
5,2004,ACCOMACK,51001,GEORGE W. BUSH,REPUBLICAN,7726,13356,33191,2,NORTHUMBERLAND,...,3781.00,3195.00,34821.00,16309.00,37715.00,6788.00,6788.00,30927.00,957.00,5291.00
6,2004,ACCOMACK,51001,OTHER,OTHER,112,13356,33191,2,NORTHUMBERLAND,...,3781.00,3195.00,34821.00,16309.00,37715.00,6788.00,6788.00,30927.00,957.00,5291.00
7,2008,ACCOMACK,51001,BARACK OBAMA,DEMOCRAT,7607,15623,33191,2,NORTHUMBERLAND,...,2649.00,4604.00,50250.00,22909.00,33012.00,6678.00,6678.00,26334.00,1002.00,5147.00
8,2008,ACCOMACK,51001,JOHN MCCAIN,REPUBLICAN,7833,15623,33191,2,NORTHUMBERLAND,...,2649.00,4604.00,50250.00,22909.00,33012.00,6678.00,6678.00,26334.00,1002.00,5147.00
9,2008,ACCOMACK,51001,OTHER,OTHER,183,15623,33191,2,NORTHUMBERLAND,...,2649.00,4604.00,50250.00,22909.00,33012.00,6678.00,6678.00,26334.00,1002.00,5147.00
10,2012,ACCOMACK,51001,BARACK OBAMA,DEMOCRAT,7655,16051,33191,2,NORTHUMBERLAND,...,2649.00,4604.00,50250.00,22909.00,33012.00,6678.00,6678.00,26334.00,1002.00,5147.00
11,2012,ACCOMACK,51001,MITT ROMNEY,REPUBLICAN,8213,16051,33191,2,NORTHUMBERLAND,...,2649.00,4604.00,50250.00,22909.00,33012.00,6678.00,6678.00,26334.00,1002.00,5147.00
12,2012,ACCOMACK,51001,OTHER,OTHER,183,16051,33191,2,NORTHUMBERLAND,...,2649.00,4604.00,50250.00,22909.00,33012.00,6678.00,6678.00,26334.00,1002.00,5147.00
13,2016,ACCOMACK,51001,HILLARY CLINTON,DEMOCRAT,6740,15818,33191,2,NORTHUMBERLAND,...,2395.00,5072.00,57711.00,26018.00,32325.00,6141.00,6141.00,26184.00,677.00,6603.00
14,2016,ACCOMACK,51001,DONALD TRUMP,REPUBLICAN,8583,15818,33191,2,NORTHUMBERLAND,...,2395.00,5072.00,57711.00,26018.00,32325.00,6141.00,6141.00,26184.00,677.00,6603.00
15,2016,ACCOMACK,51001,OTHER,OTHER,495,15818,33191,2,NORTHUMBERLAND,...,2395.00,5072.00,57711.00,26018.00,32325.00,6141.00,6141.00,26184.00,677.00,6603.00
16,2020,ACCOMACK,51001,DONALD TRUMP,REPUBLICAN,9172,16962,33191,2,NORTHUMBERLAND,...,2395.00,5072.00,57711.00,26018.00,32325.00,6141.00,6141.00,26184.00,677.00,6603.00
17,2020,ACCOMACK,51001,JO JORGENSEN,LIBERTARIAN,188,16962,33191,2,NORTHUMBERLAND,...,2395.00,5072.00,57711.00,26018.00,32325.00,6141.00,6141.00,26184.00,677.00,6603.00
18,2020,ACCOMACK,51001,JOSEPH R BIDEN JR,DEMOCRAT,7578,16962,33191,2,NORTHUMBERLAND,...,2395.00,5072.00,57711.00,26018.00,32325.00,6141.00,6141.00,26184.00,677.00,6603.00
19,2020,ACCOMACK,51001,OTHER,OTHER,24,16962,33191,2,NORTHUMBERLAND,...,2395.00,5072.00,57711.00,26018.00,32325.00,6141.00,6141.00,26184.00,677.00,6603.00

In [47]:
# drop column 'population_2022' in df
df = df.drop(columns=['population_2022'])
df.loc[: ,['AV0AA', 'year']].head(20)

      AV0AA  year
0  38305.00  2000
1  38305.00  2000
2  38305.00  2000
3  38305.00  2000
4  38305.00  2004
5  38305.00  2004
6  38305.00  2004
7  33454.00  2008
8  33454.00  2008
9  33454.00  2008
10 33454.00  2012
11 33454.00  2012
12 33454.00  2012
13 32673.00  2016
14 32673.00  2016
15 32673.00  2016
16 32673.00  2020
17 32673.00  2020
18 32673.00  2020
19 32673.00  2020

In [48]:
df.to_csv('properly_merged_data.csv', index=False)

# Analysis

In [49]:
# split df into testing and training, where testing is all rows with year between 2000 and 2016 (inclusive), and training is all rows with year as 2020
train_data = df[(df['year'] >= 2000) & (df['year'] <= 2016)]
test_data = df[df['year'] == 2020]

print(train_data.shape)
print(test_data.shape)

(2016, 180)
(528, 180)

In [50]:
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.ensemble import RandomForestRegressor
from sklearn.decomposition import PCA
from keras.models import Sequential
from keras.layers import Dense
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

In [51]:
# Select all relevant features
columns_for_pca = [col for col in df.columns if col not in ['year', 'county_fips', 'candidatevotes','totalvotes', 'county_name', 'party', 'candidate','district', 'N1', 'N2', 'N3', 'N4', 'N5', 'N6', 'N7', 'N8', 'N9', 'N10', 'N11', 'N12', 
                                                            'AL8AH', 'AK7AF', 'AB9AY', 'AJ6AA', 'AJ6AB', 'AJ6AC',	'AJ6AD',	'AJ6AE',	'AJ6AF',	'AJ6AG',	'AJ6AH',	'AJ6AI',	'AJ6AJ',	'AJ6AK',	
                                                            'AJ6AL',	'AJ6AM',	'AJ6AN',	'AJ6AO',	'AJ6AP',	'AJ6AQ',	'AJ6AR',	'AJ6AS',	'AJ6AT',	'AJ6AU',	'AJ6AV',	'AJ6AW',	'AJ6AX',	'AJ6AY',	
                                                            'AJ6AZ',	'AJ6BA',	'AJ6BB',	'AJ6BC',	'AJ6BD'
]]

X = df[columns_for_pca]
X.head()

,AV0AA,B78AA,AV1AA,AV1AB,AT5AA,AT5AB,AL8AA,AL8AB,AL8AC,AL8AD,...,A88AD,A88AE,AB2AA,BD5AA,AX6AA,CL6AA,AX7AA,AX7AB,BV8AA,BV8AB
0,38305.00,38305.00,18590.00,19715.00,36680.00,1625.00,22535.00,13983.00,4495.00,963.00,...,3781.00,3195.00,34821.00,16309.00,37715.00,6788.00,6788.00,30927.00,957.00,5291.00
1,38305.00,38305.00,18590.00,19715.00,36680.00,1625.00,22535.00,13983.00,4495.00,963.00,...,3781.00,3195.00,34821.00,16309.00,37715.00,6788.00,6788.00,30927.00,957.00,5291.00
2,38305.00,38305.00,18590.00,19715.00,36680.00,1625.00,22535.00,13983.00,4495.00,963.00,...,3781.00,3195.00,34821.00,16309.00,37715.00,6788.00,6788.00,30927.00,957.00,5291.00
3,38305.00,38305.00,18590.00,19715.00,36680.00,1625.00,22535.00,13983.00,4495.00,963.00,...,3781.00,3195.00,34821.00,16309.00,37715.00,6788.00,6788.00,30927.00,957.00,5291.00
4,38305.00,38305.00,18590.00,19715.00,36680.00,1625.00,22535.00,13983.00,4495.00,963.00,...,3781.00,3195.00,34821.00,16309.00,37715.00,6788.00,6788.00,30927.00,957.00,5291.00

In [52]:
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

# Create a PCA object and fit the scaled data
pca = PCA()
pca.fit(X_scaled)

# Get the explained variance ratio for each principal component
explained_variance_ratio = pca.explained_variance_ratio_

tot_variance = 0
num_components = 0

for ratio in explained_variance_ratio:
    if tot_variance >= 0.90:
        break
    tot_variance += ratio
    num_components +=1

print(num_components)

# Create a new PCA object 5 components
n_components = 5  
pca = PCA(n_components=n_components)
pca.fit(X_scaled)

loadings = pca.components_

column_names = X.columns

# Top three contributing features for each principal component
for i in range(n_components):
    print(f"\nPrincipal Component {i+1}:")
    top_indices = loadings[i].argsort()[::-1][:3] 
    for index in top_indices:
        print(f"{column_names[index]}: {loadings[i][index]:.4f}")

5

Principal Component 1:
BS4AA: 0.1011
B84AA: 0.1011
BS4AG: 0.1009

Principal Component 2:
C54AD: 0.1823
AB2AA: 0.1792
BD5AA: 0.1779

Principal Component 3:
C54AD: 0.3191
C54AB: 0.2808
C54AG: 0.2562

Principal Component 4:
B69AA: 0.2681
C54AE: 0.2548
AK7AC: 0.2254

Principal Component 5:
BV8AA: 0.1809
AB9AO: 0.1568
A67AL: 0.1548

### Random Forests

#### Both education and income

In [53]:
vars = ['year', 'county_name', 'party', 'totalvotes', "AV0AA", "B69AA", "B69AB", "B69AC", "A88AA","A88AB","A88AC","A88AD","A88AE"]

X_train = train_data.loc[:, vars]
Y_train = train_data.loc[:, 'candidatevotes']
X_test = test_data.loc[:, vars]
Y_test = test_data.loc[:, 'candidatevotes']

# Encode categorical data
X_train = pd.get_dummies(X_train, columns=['county_name', 'party'])
X_test = pd.get_dummies(X_test, columns=['county_name', 'party'])

# Ensuring the same columns in train and test sets
X_train, X_test = X_train.align(X_test, join='left', axis=1, fill_value=0)

# Reinitialize and train the RandomForestRegressor
rf = RandomForestRegressor(n_estimators=100, random_state=42)
rf.fit(X_train, Y_train)

# Predict on the test set and calculate RMSE
Y_pred = rf.predict(X_test)

# Calculate the root mean squared error
mse = mean_squared_error(Y_test, Y_pred)
rmse = np.sqrt(mse)  # RMSE is just the square root of MSE
mae = mean_absolute_error(Y_test, Y_pred)
r_squared = r2_score(Y_test, Y_pred)

def mean_absolute_percentage_error(y_true, y_pred):
    """
    Calculate mean absolute percentage error (MAPE) avoiding divisions by zero
    and handle cases where actual values are zero by excluding them from the calculation.
    """
    y_true, y_pred = np.array(y_true), np.array(y_pred)
    # Create a mask for elements where the denominator isn't zero
    mask = y_true != 0
    if np.any(mask):  # Check if there are any non-zero elements to avoid empty slice
        mape = np.abs((y_true[mask] - y_pred[mask]) / y_true[mask]) * 100
        return np.mean(mape)
    else:
        return np.nan  # Return NaN if all y_true values are zero or if no valid values are found
    

mape = mean_absolute_percentage_error(Y_test, Y_pred)

print(f'Mean Squared Error: {mse}')
print(f'Root Mean Squared Error: {rmse}')
print(f'Mean Absolute Error: {mae}')
print(f'Mean Absolute Percentage Error: {mape:.2f}%')
print(f'R-squared: {r_squared}')

Mean Squared Error: 143594647.7163835
Root Mean Squared Error: 11983.098418872452
Mean Absolute Error: 4787.315397727273
Mean Absolute Percentage Error: 1332.42%
R-squared: 0.5451191430748419

#### Only income

In [54]:
vars = ['year', 'county_name', 'party', 'totalvotes', "AV0AA", "A88AA","A88AB","A88AC","A88AD","A88AE"]

X_train = train_data.loc[:, vars]
Y_train = train_data.loc[:, 'candidatevotes']
X_test = test_data.loc[:, vars]
Y_test = test_data.loc[:, 'candidatevotes']

# Encode categorical data
X_train = pd.get_dummies(X_train, columns=['county_name', 'party'])
X_test = pd.get_dummies(X_test, columns=['county_name', 'party'])

# Ensuring the same columns in train and test sets
X_train, X_test = X_train.align(X_test, join='left', axis=1, fill_value=0)

# Reinitialize and train the RandomForestRegressor
rf = RandomForestRegressor(n_estimators=100, random_state=42)
rf.fit(X_train, Y_train)

# Predict on the test set and calculate RMSE
Y_pred = rf.predict(X_test)

# Calculate the root mean squared error
mse = mean_squared_error(Y_test, Y_pred)
rmse = np.sqrt(mse)  # RMSE is just the square root of MSE
mae = mean_absolute_error(Y_test, Y_pred)
r_squared = r2_score(Y_test, Y_pred)

def mean_absolute_percentage_error(y_true, y_pred):
    """
    Calculate mean absolute percentage error (MAPE) avoiding divisions by zero
    and handle cases where actual values are zero by excluding them from the calculation.
    """
    y_true, y_pred = np.array(y_true), np.array(y_pred)
    # Create a mask for elements where the denominator isn't zero
    mask = y_true != 0
    if np.any(mask):  # Check if there are any non-zero elements to avoid empty slice
        mape = np.abs((y_true[mask] - y_pred[mask]) / y_true[mask]) * 100
        return np.mean(mape)
    else:
        return np.nan  # Return NaN if all y_true values are zero or if no valid values are found
    

mape = mean_absolute_percentage_error(Y_test, Y_pred)

print(f'Mean Squared Error: {mse}')
print(f'Root Mean Squared Error: {rmse}')
print(f'Mean Absolute Error: {mae}')
print(f'Mean Absolute Percentage Error: {mape:.2f}%')
print(f'R-squared: {r_squared}')

Mean Squared Error: 141912451.9420818
Root Mean Squared Error: 11912.70128652951
Mean Absolute Error: 4802.465833333334
Mean Absolute Percentage Error: 1320.85%
R-squared: 0.5504480231375696

#### Only education

In [55]:
vars = ['year', 'county_name', 'party', 'totalvotes', "AV0AA", "B69AA", "B69AB", "B69AC"]

X_train = train_data.loc[:, vars]
Y_train = train_data.loc[:, 'candidatevotes']
X_test = test_data.loc[:, vars]
Y_test = test_data.loc[:, 'candidatevotes']

# Encode categorical data
X_train = pd.get_dummies(X_train, columns=['county_name', 'party'])
X_test = pd.get_dummies(X_test, columns=['county_name', 'party'])

# Ensuring the same columns in train and test sets
X_train, X_test = X_train.align(X_test, join='left', axis=1, fill_value=0)

# Reinitialize and train the RandomForestRegressor
rf = RandomForestRegressor(n_estimators=100, random_state=42)
rf.fit(X_train, Y_train)

# Predict on the test set and calculate RMSE
Y_pred = rf.predict(X_test)

# Calculate the root mean squared error
mse = mean_squared_error(Y_test, Y_pred)
rmse = np.sqrt(mse)  # RMSE is just the square root of MSE
mae = mean_absolute_error(Y_test, Y_pred)
r_squared = r2_score(Y_test, Y_pred)

def mean_absolute_percentage_error(y_true, y_pred):
    """
    Calculate mean absolute percentage error (MAPE) avoiding divisions by zero
    and handle cases where actual values are zero by excluding them from the calculation.
    """
    y_true, y_pred = np.array(y_true), np.array(y_pred)
    # Create a mask for elements where the denominator isn't zero
    mask = y_true != 0
    if np.any(mask):  # Check if there are any non-zero elements to avoid empty slice
        mape = np.abs((y_true[mask] - y_pred[mask]) / y_true[mask]) * 100
        return np.mean(mape)
    else:
        return np.nan  # Return NaN if all y_true values are zero or if no valid values are found
    

mape = mean_absolute_percentage_error(Y_test, Y_pred)

print(f'Mean Squared Error: {mse}')
print(f'Root Mean Squared Error: {rmse}')
print(f'Mean Absolute Error: {mae}')
print(f'Mean Absolute Percentage Error: {mape:.2f}%')
print(f'R-squared: {r_squared}')

Mean Squared Error: 145329367.75192273
Root Mean Squared Error: 12055.263072696618
Mean Absolute Error: 4836.608939393939
Mean Absolute Percentage Error: 1319.06%
R-squared: 0.5396238760238731

### Neural Network

#### Both education and income

In [56]:
vars = ['year', 'county_name', 'party', 'totalvotes', "AV0AA", "B69AA", "B69AB", "B69AC", "A88AA","A88AB","A88AC","A88AD","A88AE"]

X_train = train_data.loc[:, vars]
Y_train = train_data.loc[:, 'candidatevotes']
X_test = test_data.loc[:, vars]
Y_test = test_data.loc[:, 'candidatevotes']

# Preprocessing
categorical_features = ['party', 'county_name']
numeric_features = ['year', 'totalvotes', "AV0AA", "B69AA", "B69AB", "B69AC", "A88AA","A88AB","A88AC","A88AD","A88AE"]

# Create a transformer for numerical attributes
numeric_transformer = Pipeline(steps=[
    ('scaler', StandardScaler())
])

# Create a transformer for categorical attributes
categorical_transformer = Pipeline(steps=[
    ('onehot', OneHotEncoder(handle_unknown='ignore', sparse_output=False))
])

# Combine transformers into a preprocessor step
preprocessor = ColumnTransformer(
    transformers=[
        ('num', numeric_transformer, numeric_features),
        ('cat', categorical_transformer, categorical_features)
    ])

# Fit the preprocessor on the training data
preprocessor.fit(X_train)
X_train_transformed = preprocessor.transform(X_train)
X_test_transformed = preprocessor.transform(X_test)

# Model creation
model = Sequential([
    Dense(128, activation='relu', input_shape=(X_train_transformed.shape[1],)),
    Dense(112, activation='relu'),
    Dense(96, activation='relu'),
    Dense(80, activation='relu'),
    Dense(64, activation='relu'),
    Dense(48, activation='relu'),
    Dense(32, activation='relu'),
    Dense(16, activation='relu'),
    Dense(1, activation='linear')
])

model.compile(optimizer='adam', loss='mean_squared_error')

# Fit the model
model.fit(X_train_transformed, Y_train, epochs=10, batch_size=10)

# Predict using the model
Y_pred = model.predict(X_test_transformed)

# Evaluate the model
mse = mean_squared_error(Y_test, Y_pred)
rmse = np.sqrt(mse)  # RMSE is just the square root of MSE
mae = mean_absolute_error(Y_test, Y_pred)
mape = mean_absolute_percentage_error(Y_test, Y_pred)
r_squared = r2_score(Y_test, Y_pred)

print(f'Mean Squared Error: {mse}')
print(f'Root Mean Squared Error: {rmse}')
print(f'Mean Absolute Error: {mae}')
print(f'Mean Absolute Percentage Error: {mape:.2f}%')
print(f'R-squared: {r_squared}')

Epoch 1/10

c:\Users\henry\AppData\Local\Programs\Python\Python312\Lib\site-packages\keras\src\layers\core\dense.py:86: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

202/202 ━━━━━━━━━━━━━━━━━━━━ 1s 598us/step - loss: 175883680.0000
Epoch 2/10
202/202 ━━━━━━━━━━━━━━━━━━━━ 0s 617us/step - loss: 70369456.0000
Epoch 3/10
202/202 ━━━━━━━━━━━━━━━━━━━━ 0s 608us/step - loss: 52454616.0000
Epoch 4/10
202/202 ━━━━━━━━━━━━━━━━━━━━ 0s 608us/step - loss: 46990356.0000
Epoch 5/10
202/202 ━━━━━━━━━━━━━━━━━━━━ 0s 603us/step - loss: 27130584.0000
Epoch 6/10
202/202 ━━━━━━━━━━━━━━━━━━━━ 0s 603us/step - loss: 17845032.0000
Epoch 7/10
202/202 ━━━━━━━━━━━━━━━━━━━━ 0s 612us/step - loss: 10703500.0000
Epoch 8/10
202/202 ━━━━━━━━━━━━━━━━━━━━ 0s 627us/step - loss: 11350266.0000
Epoch 9/10
202/202 ━━━━━━━━━━━━━━━━━━━━ 0s 642us/step - loss: 18389630.0000
Epoch 10/10
202/202 ━━━━━━━━━━━━━━━━━━━━ 0s 612us/step - loss: 16909430.0000
17/17 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step
Mean Squared Error: 62246752.5332417
Root Mean Squared Error: 7889.66111650188
Mean Absolute Error: 2736.6932051976523
Mean Absolute Percentage Error: 10284.71%
R-squared: 0.8028139865696495

#### Only income

In [57]:
vars = ['year', 'county_name', 'party', 'totalvotes', "AV0AA", "A88AA","A88AB","A88AC","A88AD","A88AE"]

X_train = train_data.loc[:, vars]
Y_train = train_data.loc[:, 'candidatevotes']
X_test = test_data.loc[:, vars]
Y_test = test_data.loc[:, 'candidatevotes']

# Preprocessing
categorical_features = ['party', 'county_name']
numeric_features = ['year', 'totalvotes',"AV0AA", "A88AA","A88AB","A88AC","A88AD","A88AE"]

# Create a transformer for numerical attributes
numeric_transformer = Pipeline(steps=[
    ('scaler', StandardScaler())
])

# Create a transformer for categorical attributes
categorical_transformer = Pipeline(steps=[
    ('onehot', OneHotEncoder(handle_unknown='ignore', sparse_output=False))
])

# Combine transformers into a preprocessor step
preprocessor = ColumnTransformer(
    transformers=[
        ('num', numeric_transformer, numeric_features),
        ('cat', categorical_transformer, categorical_features)
    ])

# Fit the preprocessor on the training data
preprocessor.fit(X_train)
X_train_transformed = preprocessor.transform(X_train)
X_test_transformed = preprocessor.transform(X_test)

# Model creation
model = Sequential([
    Dense(128, activation='relu', input_shape=(X_train_transformed.shape[1],)),
    Dense(112, activation='relu'),
    Dense(96, activation='relu'),
    Dense(80, activation='relu'),
    Dense(64, activation='relu'),
    Dense(48, activation='relu'),
    Dense(32, activation='relu'),
    Dense(16, activation='relu'),
    Dense(1, activation='linear')
])

model.compile(optimizer='adam', loss='mean_squared_error')

# Fit the model
model.fit(X_train_transformed, Y_train, epochs=10, batch_size=10)

# Predict using the model
Y_pred = model.predict(X_test_transformed)

# Evaluate the model
mse = mean_squared_error(Y_test, Y_pred)
rmse = np.sqrt(mse)  # RMSE is just the square root of MSE
mae = mean_absolute_error(Y_test, Y_pred)
mape = mean_absolute_percentage_error(Y_test, Y_pred)
r_squared = r2_score(Y_test, Y_pred)

print(f'Mean Squared Error: {mse}')
print(f'Root Mean Squared Error: {rmse}')
print(f'Mean Absolute Error: {mae}')
print(f'Mean Absolute Percentage Error: {mape:.2f}%')
print(f'R-squared: {r_squared}')

Epoch 1/10

c:\Users\henry\AppData\Local\Programs\Python\Python312\Lib\site-packages\keras\src\layers\core\dense.py:86: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

202/202 ━━━━━━━━━━━━━━━━━━━━ 2s 692us/step - loss: 224744784.0000
Epoch 2/10
202/202 ━━━━━━━━━━━━━━━━━━━━ 0s 612us/step - loss: 77939032.0000
Epoch 3/10
202/202 ━━━━━━━━━━━━━━━━━━━━ 0s 617us/step - loss: 42922700.0000
Epoch 4/10
202/202 ━━━━━━━━━━━━━━━━━━━━ 0s 622us/step - loss: 21906416.0000
Epoch 5/10
202/202 ━━━━━━━━━━━━━━━━━━━━ 0s 617us/step - loss: 20774394.0000
Epoch 6/10
202/202 ━━━━━━━━━━━━━━━━━━━━ 0s 627us/step - loss: 13563498.0000
Epoch 7/10
202/202 ━━━━━━━━━━━━━━━━━━━━ 0s 637us/step - loss: 15109191.0000
Epoch 8/10
202/202 ━━━━━━━━━━━━━━━━━━━━ 0s 622us/step - loss: 11771179.0000
Epoch 9/10
202/202 ━━━━━━━━━━━━━━━━━━━━ 0s 612us/step - loss: 10913584.0000
Epoch 10/10
202/202 ━━━━━━━━━━━━━━━━━━━━ 0s 622us/step - loss: 11338197.0000
17/17 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step
Mean Squared Error: 65046350.94308153
Root Mean Squared Error: 8065.131799486077
Mean Absolute Error: 2918.507088169907
Mean Absolute Percentage Error: 11138.81%
R-squared: 0.7939453849611166

#### Only education

In [58]:
vars = ['year', 'county_name', 'party', 'totalvotes', "AV0AA", "B69AA", "B69AB", "B69AC"]

X_train = train_data.loc[:, vars]
Y_train = train_data.loc[:, 'candidatevotes']
X_test = test_data.loc[:, vars]
Y_test = test_data.loc[:, 'candidatevotes']

# Preprocessing
categorical_features = ['party', 'county_name']
numeric_features = ['year', 'totalvotes',"AV0AA", "B69AA", "B69AB", "B69AC"]

# Create a transformer for numerical attributes
numeric_transformer = Pipeline(steps=[
    ('scaler', StandardScaler())
])

# Create a transformer for categorical attributes
categorical_transformer = Pipeline(steps=[
    ('onehot', OneHotEncoder(handle_unknown='ignore', sparse_output=False))
])

# Combine transformers into a preprocessor step
preprocessor = ColumnTransformer(
    transformers=[
        ('num', numeric_transformer, numeric_features),
        ('cat', categorical_transformer, categorical_features)
    ])

# Fit the preprocessor on the training data
preprocessor.fit(X_train)
X_train_transformed = preprocessor.transform(X_train)
X_test_transformed = preprocessor.transform(X_test)

# Model creation
model = Sequential([
    Dense(128, activation='relu', input_shape=(X_train_transformed.shape[1],)),
    Dense(112, activation='relu'),
    Dense(96, activation='relu'),
    Dense(80, activation='relu'),
    Dense(64, activation='relu'),
    Dense(48, activation='relu'),
    Dense(32, activation='relu'),
    Dense(16, activation='relu'),
    Dense(1, activation='linear')
])

model.compile(optimizer='adam', loss='mean_squared_error')

# Fit the model
model.fit(X_train_transformed, Y_train, epochs=10, batch_size=10)

# Predict using the model
Y_pred = model.predict(X_test_transformed)

# Evaluate the model
mse = mean_squared_error(Y_test, Y_pred)
rmse = np.sqrt(mse)  # RMSE is just the square root of MSE
mae = mean_absolute_error(Y_test, Y_pred)
mape = mean_absolute_percentage_error(Y_test, Y_pred)
r_squared = r2_score(Y_test, Y_pred)

print(f'Mean Squared Error: {mse}')
print(f'Root Mean Squared Error: {rmse}')
print(f'Mean Absolute Error: {mae}')
print(f'Mean Absolute Percentage Error: {mape:.2f}%')
print(f'R-squared: {r_squared}')

Epoch 1/10

c:\Users\henry\AppData\Local\Programs\Python\Python312\Lib\site-packages\keras\src\layers\core\dense.py:86: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

202/202 ━━━━━━━━━━━━━━━━━━━━ 1s 622us/step - loss: 177662432.0000
Epoch 2/10
202/202 ━━━━━━━━━━━━━━━━━━━━ 0s 617us/step - loss: 64038144.0000
Epoch 3/10
202/202 ━━━━━━━━━━━━━━━━━━━━ 0s 612us/step - loss: 40389308.0000
Epoch 4/10
202/202 ━━━━━━━━━━━━━━━━━━━━ 0s 632us/step - loss: 18724654.0000
Epoch 5/10
202/202 ━━━━━━━━━━━━━━━━━━━━ 0s 612us/step - loss: 21435274.0000
Epoch 6/10
202/202 ━━━━━━━━━━━━━━━━━━━━ 0s 637us/step - loss: 9249084.0000
Epoch 7/10
202/202 ━━━━━━━━━━━━━━━━━━━━ 0s 632us/step - loss: 14202299.0000
Epoch 8/10
202/202 ━━━━━━━━━━━━━━━━━━━━ 0s 617us/step - loss: 8590540.0000
Epoch 9/10
202/202 ━━━━━━━━━━━━━━━━━━━━ 0s 617us/step - loss: 7997700.0000
Epoch 10/10
202/202 ━━━━━━━━━━━━━━━━━━━━ 0s 632us/step - loss: 8560124.0000
17/17 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step
Mean Squared Error: 58408381.04854642
Root Mean Squared Error: 7642.537605307966
Mean Absolute Error: 2583.5330708532624
Mean Absolute Percentage Error: 12535.49%
R-squared: 0.8149732260533095

#### With PCA most significant features

In [59]:
vars = ['year', 'county_name', 'party', 'totalvotes', "BS4AA", "B84AA", "BS4AG", "C54AD", "AB2AA", "BD5AA", "C54AB", "C54AG", "B69AA", "C54AE", "AK7AC", "BV8AA", "AB9AO", "A67AL"]

X_train = train_data.loc[:, vars]
Y_train = train_data.loc[:, 'candidatevotes']
X_test = test_data.loc[:, vars]
Y_test = test_data.loc[:, 'candidatevotes']

# Preprocessing
categorical_features = ['party', 'county_name']
numeric_features = ['year', 'totalvotes',"BS4AA", "B84AA", "BS4AG", "C54AD", "AB2AA", "BD5AA", "C54AB", "C54AG", "B69AA", "C54AE", "AK7AC", "BV8AA", "AB9AO", "A67AL"]

# Create a transformer for numerical attributes
numeric_transformer = Pipeline(steps=[
    ('scaler', StandardScaler())
])

# Create a transformer for categorical attributes
categorical_transformer = Pipeline(steps=[
    ('onehot', OneHotEncoder(handle_unknown='ignore', sparse_output=False))
])

# Combine transformers into a preprocessor step
preprocessor = ColumnTransformer(
    transformers=[
        ('num', numeric_transformer, numeric_features),
        ('cat', categorical_transformer, categorical_features)
    ])

# Fit the preprocessor on the training data
preprocessor.fit(X_train)
X_train_transformed = preprocessor.transform(X_train)
X_test_transformed = preprocessor.transform(X_test)

# Model creation
model = Sequential([
    Dense(128, activation='relu', input_shape=(X_train_transformed.shape[1],)),
    Dense(112, activation='relu'),
    Dense(96, activation='relu'),
    Dense(80, activation='relu'),
    Dense(64, activation='relu'),
    Dense(48, activation='relu'),
    Dense(32, activation='relu'),
    Dense(16, activation='relu'),
    Dense(1, activation='linear')
])

model.compile(optimizer='adam', loss='mean_squared_error')

# Fit the model
model.fit(X_train_transformed, Y_train, epochs=10, batch_size=10)

# Predict using the model
Y_pred = model.predict(X_test_transformed)

# Evaluate the model
mse = mean_squared_error(Y_test, Y_pred)
rmse = np.sqrt(mse)  # RMSE is just the square root of MSE
mae = mean_absolute_error(Y_test, Y_pred)
mape = mean_absolute_percentage_error(Y_test, Y_pred)
r_squared = r2_score(Y_test, Y_pred)

print(f'Mean Squared Error: {mse}')
print(f'Root Mean Squared Error: {rmse}')
print(f'Mean Absolute Error: {mae}')
print(f'Mean Absolute Percentage Error: {mape:.2f}%')
print(f'R-squared: {r_squared}')

Epoch 1/10

c:\Users\henry\AppData\Local\Programs\Python\Python312\Lib\site-packages\keras\src\layers\core\dense.py:86: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

202/202 ━━━━━━━━━━━━━━━━━━━━ 1s 622us/step - loss: 207087632.0000
Epoch 2/10
202/202 ━━━━━━━━━━━━━━━━━━━━ 0s 617us/step - loss: 85634808.0000
Epoch 3/10
202/202 ━━━━━━━━━━━━━━━━━━━━ 0s 608us/step - loss: 56573880.0000
Epoch 4/10
202/202 ━━━━━━━━━━━━━━━━━━━━ 0s 608us/step - loss: 43047792.0000
Epoch 5/10
202/202 ━━━━━━━━━━━━━━━━━━━━ 0s 637us/step - loss: 24963896.0000
Epoch 6/10
202/202 ━━━━━━━━━━━━━━━━━━━━ 0s 593us/step - loss: 16389416.0000
Epoch 7/10
202/202 ━━━━━━━━━━━━━━━━━━━━ 0s 608us/step - loss: 21042450.0000
Epoch 8/10
202/202 ━━━━━━━━━━━━━━━━━━━━ 0s 612us/step - loss: 12497128.0000
Epoch 9/10
202/202 ━━━━━━━━━━━━━━━━━━━━ 0s 608us/step - loss: 11640304.0000
Epoch 10/10
202/202 ━━━━━━━━━━━━━━━━━━━━ 0s 612us/step - loss: 12575713.0000
17/17 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step
Mean Squared Error: 98903650.07353489
Root Mean Squared Error: 9945.031426472964
Mean Absolute Error: 3221.053388046496
Mean Absolute Percentage Error: 14545.11%
R-squared: 0.6866918244241603

# Conclusion

Let's focus in on income data, specifically the variables A88AA-A88AE

In [60]:
# Focus on relevant columns: income brackets, candidate votes, party, and year
election_income_df = pd.read_csv("properly_merged_data.csv")
income_columns = ['year', 'county_name', 'party', 'candidatevotes', 'A88AA', 'A88AB', 'A88AC', 'A88AD', 'A88AE']
election_income_df = election_income_df[income_columns]

In [61]:
election_income_df['total_population'] = election_income_df[['A88AA', 'A88AB', 'A88AC', 'A88AD', 'A88AE']].sum(axis=1)

# Calculate the proportion of each income bracket
for column in ['A88AA', 'A88AB', 'A88AC', 'A88AD', 'A88AE']:
    election_income_df[column + '_prop'] = election_income_df[column] / election_income_df['total_population']

# Apply the proportions to the candidatevotes to estimate votes per income bracket
for column in ['A88AA', 'A88AB', 'A88AC', 'A88AD', 'A88AE']:
    election_income_df[column + '_votes'] = election_income_df[column + '_prop'] * election_income_df['candidatevotes']

# Now group by year and party and sum the estimated votes for each income bracket
aggregated_data = election_income_df.groupby(['year', 'party']).agg({
    'candidatevotes': 'sum',
    'A88AA_votes': 'sum',
    'A88AB_votes': 'sum',
    'A88AC_votes': 'sum',
    'A88AD_votes': 'sum',
    'A88AE_votes': 'sum'
}).reset_index()

pd.set_option('display.float_format', lambda x: '%.2f' % x)

aggregated_data

,year,party,candidatevotes,A88AA_votes,A88AB_votes,A88AC_votes,A88AD_votes,A88AE_votes
0,2000,DEMOCRAT,951375,45779.56,36021.81,96500.63,277026.41,496046.60
1,2000,GREEN,43915,1855.50,1481.25,4064.90,12164.46,24348.89
2,2000,OTHER,21309,1059.07,875.65,2310.07,6457.92,10606.29
3,2000,REPUBLICAN,1190770,50922.74,42192.02,117022.13,349425.43,631207.68
4,2004,DEMOCRAT,1129032,52472.01,41178.60,110850.62,322670.89,601859.89
5,2004,OTHER,21748,1007.19,829.46,2257.94,6472.62,11180.78
6,2004,REPUBLICAN,1456202,61165.21,50744.80,141382.62,425091.70,777817.67
7,2008,DEMOCRAT,1537789,54460.42,37820.51,98917.28,302044.10,1044546.69
8,2008,OTHER,32338,1161.05,826.43,2224.23,6708.24,21418.06
9,2008,REPUBLICAN,1479795,50155.50,35994.99,96330.24,300864.11,996450.16
10,2012,DEMOCRAT,1543476,53921.53,37230.94,97379.25,299147.46,1055796.82
11,2012,OTHER,49958,1740.46,1232.02,3315.05,10146.74,33523.73
12,2012,REPUBLICAN,1570915,52790.00,38078.64,101612.88,317563.89,1060869.58
13,2016,DEMOCRAT,1511667,44360.82,25398.26,70110.89,237588.73,1134208.30
14,2016,OTHER,185424,5033.78,2961.07,8154.32,28775.25,140499.57
15,2016,REPUBLICAN,1572721,46878.43,28295.04,78695.05,272837.17,1146015.32
16,2020,DEMOCRAT,1993625,62622.08,35581.03,94734.65,316006.56,1484680.67
17,2020,LIBERTARIAN,56747,1694.12,999.86,2668.57,9222.42,42162.04
18,2020,OTHER,16956,506.83,291.57,767.28,2601.86,12788.46
19,2020,REPUBLICAN,1794029,54808.56,33163.60,90975.60,313297.66,1301783.59